.grid-container1 {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: #2196F3;
    padding: 10px;
}

.grid-container2 {
    display: inline-grid;
    grid-template-columns: auto auto auto;
    background-color: #2196F3;
    padding: 10px;
}

.grid-container3 {
    display: grid;
    grid-column-gap: 50px;
    grid-template-columns: auto auto auto;
    background-color: #2196F3;
    padding: 10px;
}

.grid-container4 {
    display: grid;
    grid-row-gap: 50px;
    grid-template-columns: auto auto auto;
    background-color: #2196F3;
    padding: 10px;
}

.grid-container5 {
    display: grid;
    grid-gap: 50px 100px;
    grid-template-columns: auto auto auto;
    background-color: #2196F3;
    padding: 10px;
}

.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
}

.grid-container6 {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
    background-color: #2196F3;
    padding: 10px;
}

.grid-container6>div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
}

.grid-item1 {
    grid-column-start: 1;
    grid-column-end: 3;
}

.grid-item2 {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 3;
    grid-column-end: 3;
}

.grid-container7 {
    display: grid;
    grid-template-columns: 80px 200px auto 30px;
    grid-gap: 10px;
    background-color: #2196F3;
    padding: 10px;
}

.grid-container7>div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
}

.grid-container8 {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: 80px 200px;
    grid-gap: 10px;
    background-color: #2196F3;
    padding: 10px;
}

.grid-container8>div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
}

.grid-container9 {
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: 50px 50px 50px;
    /*Make the grid smaller than the container*/
    grid-gap: 10px;
    background-color: #2196F3;
    padding: 10px;
}

.grid-container9>div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
}

.grid-container10 {
    display: grid;
    justify-content: space-around;
    grid-template-columns: 50px 50px 50px;
    /*Make the grid smaller than the container*/
    grid-gap: 10px;
    background-color: #2196F3;
    padding: 10px;
}

.grid-container10>div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
}

.grid-container11 {
    display: grid;
    justify-content: space-between;
    grid-template-columns: 50px 50px 50px;
    /*Make the grid smaller than the container*/
    grid-gap: 10px;
    background-color: #2196F3;
    padding: 10px;
}

.grid-container11>div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
}

.grid-container12 {
    display: grid;
    justify-content: center;
    grid-template-columns: 50px 50px 50px;
    /*Make the grid smaller than the container*/
    grid-gap: 10px;
    background-color: #2196F3;
    padding: 10px;
}

.grid-container12>div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
}

.grid-container13 {
    display: grid;
    justify-content: start;
    grid-template-columns: 50px 50px 50px;
    /*Make the grid smaller than the container*/
    grid-gap: 10px;
    background-color: #2196F3;
    padding: 10px;
}

.grid-container13>div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
}

.grid-container14 {
    display: grid;
    justify-content: end;
    grid-template-columns: 50px 50px 50px;
    /*Make the grid smaller than the container*/
    grid-gap: 10px;
    background-color: #2196F3;
    padding: 10px;
}

.grid-container14>div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
}

.grid-container15 {
    display: grid;
    height: 400px;
    align-content: center;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
    background-color: #2196F3;
    padding: 10px;
}

.grid-container15>div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
}

.grid-container16 {
    display: grid;
    height: 400px;
    align-content: space-evenly;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
    background-color: #2196F3;
    padding: 10px;
}

.grid-container16>div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
}

.grid-container17 {
    display: grid;
    height: 400px;
    align-content: space-around;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
    background-color: #2196F3;
    padding: 10px;
}

.grid-container17>div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
}

.grid-container18 {
    display: grid;
    height: 400px;
    align-content: space-between;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
    background-color: #2196F3;
    padding: 10px;
}

.grid-container18>div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
}

.grid-container19 {
    display: grid;
    height: 400px;
    align-content: start;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
    background-color: #2196F3;
    padding: 10px;
}

.grid-container19>div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
}

.grid-container20 {
    display: grid;
    height: 400px;
    align-content: end;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
    background-color: #2196F3;
    padding: 10px;
}

.grid-container20>div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
}

.grid-container25 {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    grid-gap: 10px;
    background-color: #2196F3;
    padding: 10px;
}

.grid-container25>div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
}

.item1 {
    grid-row: 1 / 4;
    grid-column: 1 / span 2;
}

.item4 {
    grid-area: 1 / 5 / 4 / 7;
}

.namingtest-item1 {
    grid-area: myArea;
}

.grid-container26 {
    display: grid;
    grid-template-areas: 'myArea myArea myArea myArea myArea';
    grid-gap: 10px;
    background-color: #2196F3;
    padding: 10px;
}

.grid-container26>div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
}

.myitem1 {
    grid-area: myArea2;
}

.grid-container27 {
    display: grid;
    grid-template-areas: 'myArea2 myArea2 . . .';
    grid-gap: 10px;
    background-color: #2196F3;
    padding: 10px;
}

.grid-container27>div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
}

.areaitem1 {
    grid-area: myArea3;
}

.grid-container28 {
    display: grid;
    grid-template-areas: 'myArea3 myArea3 . . .' 'myArea3 myArea3 . . .';
    grid-gap: 10px;
    background-color: #2196F3;
    padding: 10px;
}

.grid-container28>div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
}

.nameareaitem1 {
    grid-area: header;
}

.nameareaitem2 {
    grid-area: menu;
}

.nameareaitem3 {
    grid-area: main;
}

.nameareaitem4 {
    grid-area: right;
}

.nameareaitem5 {
    grid-area: footer;
}

.grid-container29 {
    display: grid;
    grid-template-areas: 'header header header header header header' 'menu main main main right right' 'menu footer footer footer footer footer';
    grid-gap: 10px;
    background-color: #2196F3;
    padding: 10px;
}

.grid-container29>div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
}

.grid-container30 {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
    background-color: #2196F3;
    padding: 10px;
}

.grid-container30>div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
}

@media only screen and (max-width: 500px) {
    .orderitem1 {
        grid-area: 1 / span 3 / 2 / 4;
    }
    .orderitem2 {
        grid-area: 3 / 3 / 4 / 4;
    }
    .orderitem3 {
        grid-area: 2 / 1 / 3 / 2;
    }
    .orderitem4 {
        grid-area: 2 / 2 / span 2 / 3;
    }
    .orderitem5 {
        grid-area: 3 / 1 / 4 / 2;
    }
    .orderitem6 {
        grid-area: 2 / 3 / 3 / 4;
    }
}