p.marginComplete {
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px;
    color: blue;
    border: 5px solid red;
}

p.marginShorthand {
    margin: 25px 50px 75px 100px;
    color: red;
    border: 5px solid red;
}

p.marginShorthandThreeValues {
    margin: 25px 50px 75px;
    color: yellow;
    border: 5px solid red;
}

p.marginShorthandTwoValues {
    margin: 25px 50px;
    color: green;
    border: 5px solid red;
}

p.marginShorthandOneValue {
    margin: 25px;
    color: gray;
    border: 5px solid red;
}

#divParent {
    border: 1px solid red;
    margin-left: 100px;
}

#paragraphChild {
    margin-left: inherit;
}

#divMarginAuto {
    width:300px;
    margin: auto;
    border: 1px solid red;
}

#marginCollapse1 {
    margin: 0 0 50px 0;
}
  
#marginCollapse2 {
    margin: 20px 0 0 0;
}