.wrapper {overflow: auto;}

#main {margin-left: 4px;}

#leftsidebar {
  float: none;
  width: auto;
}

#menulist {
  margin: 0;
  padding: 0;
}

.menuitem {
  background: #CDF0F6;
  border: 1px solid #d4d4d4;
  border-radius: 4px;
  list-style-type: none;
  margin: 4px;
  padding: 2px;
}

div.hide {
  background-color: yellow;
  padding: 20px;
}

div.fontsize {
  background-color: lightgrey;
  padding: 20px;
}

@media screen and (min-width: 480px) {
  #leftsidebar {width: 200px; float: left;}
  #main {margin-left: 216px;}
}

@media screen and (max-width: 600px) {
  div.hide {
    display: none;
  }

  div.fontsize {
    font-size: 30px;
  }
}

@media screen and (max-width: 900px) and (min-width: 600px), (min-width: 1100px) {
  div.operator {
    font-size: 50px;
    padding: 50px;
    border: 8px solid black;
    background: yellow;
  }
}

@media only screen and (orientation: portrait) { /*Landscape*/
  body {
    background-color: lightblue;
  }
}