#circled {
    border-radius: 50%;
}

#rounded {
    border-radius: 8px;
}

#thumbnail {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
}

#thumbnailaslink {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
  }

#thumbnailaslink:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
  }

#responsible {
    max-width: 100%;
    height: auto;
  }

#centering {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

div.polaroid {
    width: 80%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
  }
  
  div.container {
    text-align: center;
    padding: 10px 20px;
  }

  #flip:hover {
        transform: scaleX(-1);
  }

  img.default{
    width: 33%;
    height: auto;
    float: left; 
    max-width: 235px;
  }

  .blur {filter: blur(4px);}
.brightness {filter: brightness(250%);}
.contrast {filter: contrast(180%);}
.grayscale {filter: grayscale(100%);}
.huerotate {filter: hue-rotate(180deg);}
.invert {filter: invert(100%);}
.opacity {filter: opacity(50%);}
.saturate {filter: saturate(7);}
.sepia {filter: sepia(100%);}
.shadow {filter: drop-shadow(8px 8px 10px green);}

