#exampleColorBgColor {
    background-color: lightgrey;
    color: blue;
}

#exampleTextAlignSide{ 
    text-align: right;
}

#exampleTextAlignJustify {
    border: 1px solid black;
    padding: 10px;
    width: 200px;
    height: 200px;
    text-align: justify;
}

#exampleTextDirection {
    direction: rtl;
    unicode-bidi: bidi-override;
}

#exampleImageAlignTop {
    vertical-align: top;
}
  
#exampleImageAlignMiddle {
    vertical-align: middle;
}

#exampleTextDecorationNone {
    text-decoration: none;
}

#exampleTextDecorationOverline {
    text-decoration: overline;
}
  
#exampleTextDecorationLinethrough {
    text-decoration: line-through;
}
  
#exampleTextDecorationUnderline {
    text-decoration: underline;
}

#exampleTextTransformationUpper {
    text-transform: uppercase;
}
  
#exampleTextTransformationLower {
    text-transform: lowercase;
}
  
#exampleTextTransformationCapitalize {
    text-transform: capitalize;
}

#exampleTextIdent {
    text-indent: 50px;
}

#exampleLetterSpacingPositive {
    letter-spacing: 3px;
}
  
#exampleLetterSpacingNegative {
    letter-spacing: -3px;
}

#exampleSmallLineHeight {
    line-height: 0.7;
}
  
#exampleBigLineHeight {
    line-height: 1.8;
}

#exampleWordSpacingPositive {
    word-spacing: 10px;
}
  
#exampleWordSpacingNegative {
    word-spacing: -5px;
}

#exampleWhiteSpace {
    white-space: nowrap;
}

#exampleTextShadow {
    text-shadow: 2px 2px 5px red;
}